	*, body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		margin: 1rem;
		background-color: black;
	}

	.container {
		position: relative;
		width: 100%;
	}

	.container > div  {
		position: absolute;
		width: 100%;
		border: 1px solid black;
		background-color: transparent;
		transition-property: padding, margin, border;
		transition-duration: .5s;
		transition-timing-function: ease-in-out;
	}

	.dot {
		height: 5rem;
		width: 5rem;
		margin-left: -2.5rem;
		border-radius: 50%;
	}

	button {
		padding: 0.5rem;
		margin: 0.5rem;
		border: none;
		border-radius: 5px;
		background-color: lightgreen;
		transition: 0.2s;
	}

	button:hover {
		background-color: limegreen;
	}